<div class="container user-edit">
	<div class = "row">
		<div class = "col xl12 l12 m12 s12">
			<h1 class = "center">Edit</h1>
			<%= form_with model: @user, url: {controller: 'users' , action: 'update' } do |f| %>
				<div class = "col xl6 l6 m6 s6 center">
					<% if @user.user_image.present? %>
  					<%= attachment_image_tag @user, :user_image, :fill, 300, 300, id: :img_prev, size: "300x250"%>
					<% end %>
					<%= f.attachment_field :user_image, placeholder: "画像選択", class: "item-edit-form", id: :user_image %>
				</div>
				<div class = "col xl6 l6 m6 s6">
					<label>名前</label>
						<%= f.text_field :name %>
					<label>自己紹介</label>
						<%= f.text_field :introduction %>
						<%= button_tag '更新', class: 'btn waves-effect waves-light', type: 'button', onclick: 'submit();' %>
				</div>
			<% end %>
			<div class = "right">
				<a class="waves-effect red lighten-1 btn modal-trigger" href="#modal-user-delete">退会する</a>
			</div>
			<div id="modal-user-delete" class="modal">
				<div class="modal-content center">
					<h4>本当に退会しますか？</h4>
					<p>退会すると会員情報及び投稿作品が全て削除されます。</p>
					<%= link_to "退会する", users_user_path(@user.id), method: :delete, "data-confirm" => "本当に退会しますか？", class: "waves-effect waves-light btn" %>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	$(function() {
    	function readURL(input) {
        	if (input.files && input.files[0]) {
        	var reader = new FileReader();
        	reader.onload = function (e) {
    	$('#img_prev').attr('src', e.target.result);
        	}
        	reader.readAsDataURL(input.files[0]);
        	}
    	}
    	$("#user_image").change(function(){
        	readURL(this);
    	});
 	 });
</script>


