<div class="container">
	<h1>ユーザー詳細</h1>

	<%= attachment_image_tag @user, :user_image, :fill, 200, 200, format: 'jpeg' %>

	<%= @user.name %>
	<%= @user.introduction %>

	<% if @user.id == current_user.id %>
	<%= link_to "編集" , edit_users_user_path(@user.id) %>
	<% end %>
	<%= link_to "フォルダ一覧" ,controller: "folders", action: "index", user_id: @user.id %>

	<!-- フォロー機能 -->
	<%= link_to @user.follower.count, users_user_follows_path(@user) %>人をフォローしています。
	<%= link_to @user.followed.count, users_user_followers_path(@user) %>人にフォローされています。
	<% if current_user!= @user %>
		<% if current_user.following?(@user) %>
			<%= link_to "フォロー解除" , users_user_relationships_path(@user.id),method: :delete %>
		<% else %>
			<%= link_to "フォロー" , users_user_relationships_path(@user.id), method: :POST %>
		<% end %>
	<% end %>
	<!-- フォロー機能 -->
</div>
