<div class="container user-show">
  <div class ="row">
    <div class = "col xl12 l12 m12 s12">
      <div class ="user-folder  col xl5 l5 m5 s5">

        <% if @user.gallery == nil %>
          <div class = "create-gallery center">
              <%= link_to "早速ギャラリーを作りましょう！", new_users_gallery_path %>
          </div>
          <% else %>
            <h5 class ="center-align gellery_name"><%= @user.gallery.gallery_name%></h5>
            <p class="center-align concept"><%= @user.gallery.concept %></p>
        <% end %>

        <div class = "user-content center">
<!-- 他のユーザー -->
<% if user_signed_in? %>
            <div class="folder">
            <% if current_user!= @user %>
            <%= link_to controller: "folders", action: "index", user_id: @user.id do %>
                <%= image_tag 'folder.svg' , :size=>"50x50"%>
                <span>Folder</span>
              <% end %>
          </div>
<!-- フォロー機能 -->
          <div class="follow-action">
            <% if current_user.following?(@user) %>
                <%= link_to users_user_relationships_path(@user.id),method: :delete do%>
                  <%= image_tag 'fan.svg' , :size=>"60x60" %>
                  <span>Following</span>
                <% end %>
            <% else %>
                <%= link_to users_user_relationships_path(@user.id), method: :POST do %>
                <%= image_tag 'fan.svg' , :size=>"60x60" %>
                <span>Follow</span>
                <% end %>
              <% end %>
            <% end %>
          </div>
<!-- 自分のページ -->
          <div class="center mypage">
            <div class="myfolder">
              <% if current_user == @user %>
              <%= link_to controller: "folders", action: "index", user_id: current_user.id do %>
                <%= image_tag 'folder.svg' , :size=>"50x50"%>
                <span>Folder</span>
              <% end %>
              <% end %>
            </div>
<!-- フォロー関係 -->
            <div class="friend">
              <%= render 'users/users/follow', user: @user %>
            </div>
<!-- 編集機能 -->
            <div class="edit">
              <%= render 'users/users/edit', user: @user %>
            </div>
          </div>
<% else %>
<!-- 未ログインの場合 -->
          <p>会員登録するとフォロー機能、フォルダ機能が使えます</p>
          <%= link_to "会員登録はこちらから",new_user_registration_path %>
          <%= link_to "登録済みの方はこちら",new_user_session_path %>
<% end %>
        </div>
      </div>
<!-- 名刺 -->
      <div class ="user-info card col xl6 l7 m7 s7">
        <%= render 'users/users/namecard', user: @user %>
      </div>
    </div>
  </div>
<!-- 名刺ダウンロード -->
  <div class =" row download">
    <div class="col xl5 l5 m5 s5 center">
    </div>
    <div class="col xl7 l7 m7 s7">
        <p>名刺を画像として保存できます!</p>
        <a class="waves-effect green lighten-4 btn" id="download">名刺をダウンロード</a>
    </div>
  </div>
<!-- 個展一覧 -->
<% if @user.gallery != nil %>
  <%= render 'users/users/user_exhibitions', exhibitions: @exhibitions, exhibitions_f: @exhibitions_f, user: @user %>
<% end %>

</div>



  <script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var options ={};
    var instances = M.Modal.init(elems, options);
  });



  $(document).ready(function(){
    $('.modal').modal();
  });


    html2canvas($('.user-info').get(0)).then((canvas) => {
      var data = canvas.toDataURL();
      document.getElementById("download").href = data;
      document.getElementById("download").download = 'user.png';
    });

  </script>


