
<% visitor = notification.visitor %>
<% visited = notification.visited %>
<% @notifications = current_user.passive_notifications.all %>
<% 	@notifications.where(checked: false).each do |notification| %>
			notification.update_attributes(checked: true)
<% end %>

<div class ="row">
	<div class="notification-content">
			<%= link_to users_user_path(visitor) do %>
			<%= attachment_image_tag visitor, :user_image, :fill, 50, 50, format: 'jpeg',class:"notification_user responsive-img" %>
				<strong><%= visitor.name %>さんが</strong>
			<% end %>


			<% case notification.action %>
				<% when 'follow' then %>
					<%= "あなたをフォローしました" %>
				<% when 'like' then %>
					<%= "あなたの投稿をいいねしました" %>
				<% when 'comment' then %>
					<% if notification.exhibition.user_id == visited.id %>
						<%= link_to "あなたの投稿", users_exhibition_path(visited) %>
					<% else %>
						<%= notification.exhibition.user.name + 'さんの投稿' %>
					<% end %>
					にコメントしました。
			<% end %>
		<br>
	</div>
</div>

