<div class="container signin">
  <div class="row">
    <div class="col xl8 l8 m8 s8 offset-xl2 offset-l2 offset-m2 offset-s2">
      <h2 class="center"> Admin Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions right">
          <%= button_tag 'Log in', class: 'btn waves-effect waves-green', type: 'button', onclick: 'submit();' %>
        </div>
      <% end %>
      <%= link_to "パスワードをお忘れの方はこちら", new_password_path(resource_name) %>
    </div>
  </div>
</div>

