<div class ="container admin-user-show">
	<div class="row">
		<h1 class="center-align">User</h1>
			<div class="col l10 m10 s12 ">
				<div class="col l6 center">
				<%= attachment_image_tag @user, :user_image, :fill, 300, 300, format: 'jpeg',fallback: "noimage2.png", size:'300x300' %>
				</div>
				<div class="col l6">
					<table>
			     	<tr>
				     	<th>名前</th>
				     	<td><%= @user.name %></td>
			     	</tr>
			     	<tr>
				     	<th>メールアドレス</th>
				     	<td><%= @user.email %></td>
			     	</tr>
			     	<tr>
				     	<th>ギャラリー</th>
				     	<% if @user.gallery == nil %>
				     	<td>まだ作成されていません</td>
				     	<% else %>
				     	<td><%= @user.gallery.gallery_name %></td>
				     	<% end %>
			     	</tr>
			     	<tr>
				     	<th>個展</th>
				     	<td><%= @user.exhibitions.count %></td>
			     	</tr>
			     	<tr>
				     	<th>登録日</th>
				     	<td><%= @user.created_at.strftime('%Y/%m/%d') %></td>
			     	</tr>
					</table>
					<% if admin_signed_in? %>
					<%= link_to "編集する",edit_admins_user_path(@user),class: 'btn waves-effect waves-light', type: 'button' %>
					<% end %>
				</div>
			</div>
	</div>
	<div class="row">
		<div class="col l10 m10 s12 ">
			<div class="col l4 m6 s6 offset-l1">
					  <ul class="collapsible">
					    <li>
					      <div class="collapsible-header">個展一覧
					      	<i class="material-icons active-true">lightbulb_outline</i>開催中
					      	<i class="material-icons active-false">lightbulb_outline</i>休止中
					      </div>
					      <div class="collapsible-body">
					      	<% @exhibitions.each do |exhibition| %>
					      	<span >
						      	<% if exhibition.is_active == true %>
						      	<i class="material-icons active-true">lightbulb_outline</i><%= exhibition.title %>
						      	<% else %>
						      	<i class="material-icons active-false">lightbulb_outline</i><%= exhibition.title %>
						      	<% end %>
						      	<%= link_to "詳細", admins_exhibition_path(exhibition) %><br>
							</span>
					      	<% end %>
					      </div>
					    </li>
					  </ul>
			</div>
		</div>
	</div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var options = {};
    var instances = M.Collapsible.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>




