<div class="container">
	<div class="row works">
		<h1>投稿編集画面</h1>
		<% if user_signed_in? %>
<!-- 個展概要編集フォーム -->
			<%= form_with model: @exhibition, url: {controller: 'exhibitions', action: 'update' } do |f| %>
				<label>タイトル</label><br>
				<%= f.text_field :title %><br>
				<label>個展概要</label><br>
				<%= f.text_area :caption %><br>
			<%= f.select :is_active, [["開催中","true"],["休止中","false"]],autofocus: true %>
<!-- 作品フォーム -->
		<div class = "col l12 m12 s12">
			<h2>掲載作品</h2>
			<%= f.nested_fields_for :works, wrapper_tag: :div do |field| %>
			<div class = "col l4 m12 s12">
				<label>画像タイトル</label><br>
				<%= field.text_field :work_title %><br>
				<label>作品説明</label><br>
				<%= field.text_field :description %><br>
				<label>作品画像</label><br>
				<%= field.attachment_field :work_image %>
<!-- フォーム削除 -->
				<br><%= field.remove_nested_fields_link 'Delete' %>
			</div>
			<% end %>
		</div>
	</div>
<!-- フォーム追加・更新 -->
				<div class="row add-form">
					<div class = "col l12 m12 s12">
						<div class="col l5 m8 s6 offset-l10 offset-m8 offset-s8">
						<%= f.add_nested_fields_link :works, 'フォーム追加する', class: 'btn waves-effect waves-light', type: 'button'%>
						<%= button_tag '更新', class: 'btn waves-effect waves-light', type: 'button', onclick: 'submit();' %>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
</div>


<% work_count = 5 - @exhibition.works.count %>

<script>
$(function() {
  var fieldsCount,

      maxFieldsCount = <%= work_count %>,
      $addLink = $('a.add_nested_fields_link');

  function toggleAddLink() {
    $addLink.toggle(fieldsCount <= maxFieldsCount)
  }

  $(document).on('fields_adding.nested_form_fields', function() {
    fieldsCount += 1;
    toggleAddLink();
  });

  $(document).on('fields_removing.nested_form_fields', function() {
    fieldsCount -= 1;
    toggleAddLink();
  });

  // count existing nested fields after page was loaded
  fieldsCount = $('form .fields').length;
  toggleAddLink();
})
</script>

