<div class="container exhibition-index">


	<div class="row  random">
		<div class = "col xl6 l6 m6 s6 offset-xl3 offset-l3 offset-m3 offset-s3 center random-contents">
			<div class = "col xl8 l8 m8 s8">
				<h5 class = "center">個展巡り</h5><br>
				<p class = "center">開催中の個展をランダムに巡ることができます。</p>
				<% @random.each do |r| %>
					<%= link_to "個展巡りに出かける", random_path(r),class: "link" %>
				<% end %>
			</div>
			<div class = "col xl4 l4 m4 s4">
				<% @random.each do |r| %>
					<%= link_to random_path(r) do %>
						<%= image_tag 'door.svg', :size=>"150x150" %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row center exhibitions">
		<div class ="col xl12 l12 m12 s12">
			<h3 class = "center">開催中の個展</h3>
			<% @exhibitions.each do |exhibition| %>
				<div class ="col xl6 l6 m6 s6 work-one">
					<% exhibition.works.shuffle.first(1).each do |work| %>
						<div class="work-image">
						<%= link_to users_exhibition_path(exhibition) do %>
						<%= attachment_image_tag work, :work_image, :fill, 220, 220,class: "z-depth-5" %>
						<% end %>
						</div>
					<% end %>
						<h5><%= exhibition.title %></h5>
						<p class="caption"><%= exhibition.caption %></p>
						<div class="username">
						<%= exhibition.user.name %>
						</div>
				</div>
				<% end %>
		</div>
	</div>
	<div class ="pagenate center">
	    <%= paginate @exhibitions , :param_name => 'active'%>
	</div>
</div>