<div class="container">
	<div class="row">
		<h1>開催中個展一覧</h1>
		<div class="col xl12 l12 m12 s12 ">
			<% @exhibitions.each do |exhibition| %>
			<div class ="col xl4 l4 m4 s4 center">
				<h5><%= exhibition.title %></h5>
				<%= exhibition.user.name %>
				<% exhibition.works.shuffle.first(1).each do |work| %>
					<%= link_to users_exhibition_path(exhibition) do %>
						<%= attachment_image_tag work, :work_image, :fill, 200, 200, class: "z-depth-2" %>
					<% end %>
				<% end %>
			</div>
			<% end %>
	        <div class ="pagenate center">
	          <%= paginate @exhibitions , :param_name => 'active'%>
	        </div>
		</div>
	</div>
	<div class="row right">
		<% @random.each do |r| %>
			<%= link_to random_path(r) do %>
			<%= image_tag 'door.svg', :size=>"150x150" %>
			<span>個展巡り</span>
			<% end %>
		<% end %>
	</div>
</div>