<div class="container exhibition-new">
			<div class="row error-box">
				<% if @exhibition.errors.any? %>
			    	<h5><%= @exhibition.errors.count %>件のエラーがあります</h5>
			    	<ul>
			    	<% @exhibition.errors.full_messages.each do |message| %>
			    	<li><%= message %></li>
			    	<% end %>
			    <% end %>
			</div>
	<div class="row">
			<h2 class="center"> Exhibition</h2>
<!-- 個展概要フォーム -->
		<% if user_signed_in? %>
			<%= form_with model: @exhibition, url: {controller: 'exhibitions', action: 'create' } do |f| %>
				<label>タイトル</label><br>
				<%= f.text_field :title %><br>
				<label>個展概要</label><br>
				<%= f.text_area :caption  ,class: "materialize-textarea" %><br>


<!-- 作品フォーム -->
		<div class = "col xl12 l12 m12 s12">
			<h2 class="center">Works</h2>
			<%= f.nested_fields_for :works, wrapper_tag: :div do |field| %>
				<div class = "col xl4 l4 m12 s12 form">
<!-- ここでプレビュー -->
					<div class ="work-image-pre center">
						<%= attachment_image_tag @work, :work_image, src: "", size: "300x300", alt:"Image preview", class: "work_prev", fallback: "noimage2.png" %><br>
					</div>
					<label>画像タイトル</label><br>
					<%= field.text_field :work_title %><br>
					<label>作品説明</label><br>
					<%= field.text_field :description %><br>
					<label>作品画像</label><br>

				    <div class="file-field input-field">
				      <div class="btn">
				        <span>File</span>
<!-- 画像フォーム -->
				        <%= field.attachment_field :work_image, onchange: "previewFile(this)"%><br>
				      </div>
				      <div class="file-path-wrapper">
				        <input class="file-path validate" type="text">
				      </div>
				    </div>

<!-- フォーム削除 -->
					<br><%= field.remove_nested_fields_link 'Delete' %>
				</div>
			<% end %>
		</div>
	</div>
<!-- フォーム追加・開催 -->
				<div class="row add-form">
					<div class = "col xl12 l12 m12 s12">
						<div class="col xl5 l5 m8 s6 offset-xl10 offset-l10 offset-m8 offset-s8">
						<%= f.add_nested_fields_link :works, 'フォーム追加する', class: 'btn waves-effect waves-light', type: 'button'%>
						</div>
					</div>
				</div>
				<div class="center">
				<%= button_tag '開催する', class: 'waves-effect waves-light btn-large', type: 'button', onclick: 'submit();' %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

<script>
$(function() {
  var fieldsCount,
      maxFieldsCount = 7,
      $addLink = $('a.add_nested_fields_link');

  function toggleAddLink() {
    $addLink.toggle(fieldsCount <= maxFieldsCount)
  }

  $(document).on('fields_adding.nested_form_fields', function() {
    fieldsCount += 1;
    toggleAddLink();
  });

  $(document).on('fields_removing.nested_form_fields', function() {
    fieldsCount -= 1;
    toggleAddLink();
  });

  // count existing nested fields after page was loaded
  fieldsCount = $('form .fields').length;
  toggleAddLink();
})

</script>

<!-- プレビュー -->
<script>
	// document.getElementsByClassName("preview_file").onchange = previewFile;
	function previewFile(obj) {
// 　　 console.log(obj)
    // // console.log(obj.find(".work_prev"))
    // console.log(document.querySelector(".work_prev"))
    // console.log(document.querySelector('input[type=file]').files[0])



	var preview = $(".work_prev")[obj.name[29]];
	var file    = obj.files[0];
	var reader  = new FileReader();

	reader.addEventListener("load", function () {
    preview.src = reader.result;
  }, false);


	if (file) {
		reader.readAsDataURL(file);
	}
}
</script>
