<div class="container exhibition-show">
	<div class="exhibition_<%= @exhibition.id %>">
		<%= render 'users/exhibitions/detail', exhibition: @exhibition %>
	</div>
	<% if user_signed_in? %>

<!-- コメント一覧 -->
				<div class ="comment">
					<h6 class = "center">感想ノート</h6>
					<div class = "comment_<%= @exhibition.id%>">
						<%= render 'users/exhibitions/comment', exhibition: @exhibition %>
					</div>
<!-- 花表示 -->
		<% if @exhibition.liked_by?(current_user) %>
			<div class = "flower">
				<%= image_tag 'flower.svg' , :size=>"180x240"%>
			</div>
		<% end %>
				</div>

				<div id = "comment_form">
					<%= form_with model: [:users, @exhibition , @comment], data: {remote: true} do |f| %>
						<%= f.text_area :comment,id: "comment_field",size: "90×10" ,placeholder: "感想を送る" ,class: "materialize-textarea"%>
						<div class="modal-footer">
							<%= f.submit '書き込む' %>
						</div>
					<% end %>
				</div>

				<button data-target="modal1" class="btn modal-trigger">フォルダに追加</button>
					<div id="modal1" class="modal">
						<div class="modal-content">
							<%= form_with model: [:users, @exhibition , @clip] do |f| %>
								<%=  f.collection_select :folder_id, @folders, :id, :folder_name,{} %>
								<%= f.text_field :memo %>
								<%= button_tag '追加', class: 'btn waves-effect waves-light', type: 'button', onclick: 'submit();' %>
							<% end %>
						</div>
					</div>



<!-- いいね -->
		<% if @exhibition.liked_by?(current_user) %>
			<%= link_to users_exhibition_likes_path(@exhibition),method: :delete,class: "btn waves-effect waves-light" , type: 'button' do %>
				Delete
			<% end %>
		<% else %>
			<%= link_to users_exhibition_likes_path(@exhibition),method: :post do %>
				花を送る
			<% end %>
		<% end %>
<!-- いいね -->


	<% else %>
		<p>会員登録するとコメント機能、フォルダ追加機能が使えます。</p>
		<%= link_to "会員登録はこちらから",new_user_registration_path %>
		<%= link_to "登録済みの方はこちら",new_user_session_path %>
	<% end %>
</div>




<!-- モーダルウィンドウ -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var options={};
    var instances = M.Modal.init(elems, options);
  });


  $(function(){
    $('.modal').modal();
  });
</script>
<!-- モーダルウィンドウ -->












