<div class="container">


	<div class = "row" >
		<div class = "col l12 m12">
			<h1 class ="flow-text center-align"><%= @exhibition.title %></h1>
				<div class ="center-align">
					<% if @exhibition.user == current_user %>
					<%= link_to "編集" ,  edit_users_exhibition_path(@exhibition.id) %>
					<% end %>
				</div>
			<p class ="center-align"><%= @exhibition.caption %></p>
			<h5 class ="center-align">開催者</h5>
			<h5 class ="center-align"><%= @exhibition.user.name %></h5>

		</div>
	</div>

							<!-- いいね -->
							<% if @exhibition.liked_by?(current_user) %>
								<%= link_to users_exhibition_likes_path(@exhibition),method: :delete do %>
									<i class="material-icons", style="color: red;" >favorite</i>
								<% end %>
							<% else %>
								<%= link_to users_exhibition_likes_path(@exhibition),method: :post do %>
									<i class="material-icons" >favorite</i>
								<% end %>
							<% end %>
							 <!-- いいね -->



	<div class = "row" >
		<div class = "col l12 m12">
			<% @works.each do |work| %>
				<div class = "col l4 s12 m12">
					<div class ="center-align"><%= attachment_image_tag work, :work_image, :fill, 300, 300 ,class: "z-depth-4"%></div>
					<h5 class ="center-align"><%= work.work_title %></h5>
					<p class ="center-align"><%= work.description %></p>
				</div>
			<% end %>
	</div>


		<div class = "row" >
			<div class = "col l12 m12">
							<!-- フォルダに追加 -->
							<h6>フォルダに追加</h6>
							<%= form_with model: [:users, @exhibition , @clip] do |f| %>
								<%=  f.collection_select :folder_id, @folders, :id, :folder_name,{} %>
								<%= f.text_field :memo %>
								<%= button_tag '追加', class: 'btn waves-effect waves-light', type: 'button', onclick: 'submit();' %>
							<% end %>
							<!-- フォルダに追加 -->

							<!-- モーダル -->
							<button data-target="modal1" class="btn modal-trigger">感想</button>
								<div id="modal1" class="modal">
									<div class="modal-content">
										<!-- コメント一覧 -->
										<div class = "comment_<%= @exhibition.id%>">
										<%= render 'users/comments/comment_index',exhibition: @exhibition %>
										</div>
										<!-- コメント一覧 -->
										<div id = "comment_form">
										<%= render 'users/comments/comment_form',exhibition: @exhibition ,comment: @comment %>
										</div>
									</div>
								</div>
							<!-- モーダル -->
			</div>
		</div>
	</div>
</div>

<!-- モーダルウィンドウ -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var options={};
    var instances = M.Modal.init(elems, options);
  });


  $(function(){
    $('.modal').modal();
  });
</script>
<!-- モーダルウィンドウ -->












