<h1>個展</h1>

<%= @exhibition.title %>
<%= @exhibition.caption %>
<h3>開催者</h3>
<%= @exhibition.user.name %>

<h2>作品</h2>


<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
<% @works.each do |work| %>


		<tr>
			<td>
				<h3><%= work.work_title %></h3>
			</td>
			<td>
				<%= work.description %>
			</td>
			<td>
			    <%= attachment_image_tag work, :work_image ,size: '100x100' %>
			</td>
		</tr>
<% end %>
<%= link_to "編集" ,  edit_users_exhibition_path(@exhibition.id) %>
	</tbody>
</table>