<div class="container">
	<h1>ギャラリー情報</h1>
	<%= flash[:notice_update] %>
	<%= @gallery.gallery_name %>
	<%= @gallery.concept %>
	<%= @user.name %>
	<%= link_to "編集" , edit_users_gallery_path(@gallery.id) %>
</div>