<div class="container folder-index">
		<%= link_to users_user_path(@user) do %>
			<i class="material-icons medium">chevron_left</i>
		<% end %>
	<div class = "row">
		<h3 class ="center">Folders</h3>
		<div class ="center">
			<% if @user == current_user %>
<!-- フォルダ作成 -->
			  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">新規作成</a>
			  <div id="modal1" class="modal">
			    <div class="modal-content">
					<div class="container">
						<h4>フォルダ作成</h4>
						<%= form_with model: [:users, @folder] do |f| %>
							<%= f.text_field :folder_name %>
							 <%= button_tag '追加する', class: 'btn waves-effect waves-green', type: 'button', onclick: 'submit();' %>
						<% end %>
					</div>
			    </div>
			  </div>
			<% end %>
		</div>
	</div>
		<div class = "row folders-content" >
			<div class = "col xl12 l12 m12 s12 ">
				<% @folders.each do |folder| %>
					<div class = "folder col xl4 l4 m6 s12 ">
						<h6><%= link_to "#{folder.folder_name}" ,users_folder_path(folder) %></h6>
						<p>登録数: <%= folder.clips.count %></p>
						<% if folder.user == current_user %>
						<p class = "edit right"><%= link_to "Edit", edit_users_folder_path(folder) %></p>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>


</div>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var options = {};
    var instances = M.Modal.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.modal').modal();
  });
</script>