<div class="container folder-show">

	<h2 class = "center"><%= @folder.folder_name %></h2>by<%= @folder.user.name %>
	<h4 class ="center">クリップした個展</h4>

	<div class = "row">
		<div class = "col xl12 l12 m12 s12" >
			<% @clips.each do |clip| %>
				<div class = "col xl4 l4 m6 s6">
					<% if clip.exhibition.is_active == true %>
					<div class = "clip-exhibition" >
						<h5 class><%= link_to "#{clip.exhibition.title}", users_exhibition_path(clip.exhibition) %></h5>
						<% clip.exhibition.works.shuffle.first(1).each do |work| %>
							<%= attachment_image_tag work, :work_image, :fill, 220, 220%>
						<% end %>
					</div>
						メモ: <%= clip.memo %><br>
						登録日: <%= clip.created_at.strftime('%Y/%m/%d') %>


						<% if @folder.user == current_user %>
						<br><%= link_to "クリップを外す", users_exhibition_clips_path(clip.exhibition),method: :delete %><br>
						<% end %>

					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>