<div class="container admin-exhibition-edit">
	<div class="row">
		<h1>投稿編集画面</h1>
			<% if admin_signed_in? %>
				<%= form_with model: @exhibition, url: {controller: 'exhibitions', action: 'update' } do |f| %>
					<label>タイトル</label><br>
						<%= f.text_field :title %><br>
					<label>個展概要</label><br>
						<%= f.text_area :caption %><br>
				<%= f.select :is_active, [["開催中","true"],["休止中","false"]],autofocus: true %>

						<div class = "col l12 m12 s12">
						<h2>掲載作品</h2>
							<%= f.nested_fields_for :works, wrapper_tag: :div do |field| %>
								<div class = "col l4 m12 s12">
									<label>画像タイトル</label><br>
									<%= field.text_field :work_title %><br>
									<label>作品説明</label><br>
									<%= field.text_field :description %><br>
									<label>作品画像</label><br>
									<%= field.attachment_field :work_image %>
									<br><%= field.remove_nested_fields_link 'Delete' %>
								</div>
							<% end %>
						</div>
					</div>
					<div class="row add-form">
						<div class = "col l12 m12 s12">
							<div class="col l5 m8 s6 offset-l10 offset-m8 offset-s8">
							<%= f.add_nested_fields_link :works, 'フォーム追加する', class: 'btn waves-effect waves-light', type: 'button'%>
							<%= button_tag '更新', class: 'btn waves-effect waves-light', type: 'button', onclick: 'submit();' %>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
</div>