<div class ="container signup">
  <div class="row">
    <div class="col xl8 l8 m8 s8 offset-xl2 offset-l2 offset-m2 offset-s2">
        <h2 class="center">Sign Up</h2>
        <p class="center">必要事項を誤入力の上、SIGN UPボタンをクリックしてください。</p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, id:"inputName" %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <p class="pass">パスワードの長さは6〜70文字とし、大文字と小文字と数字と特殊文字をそれぞれ1文字以上含める必要があります。</p>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="actions right">
            <%= button_tag 'Sign Up', class: 'btn waves-effect waves-green', type: 'button', onclick: 'submit();' %>
          </div>
        <% end %>
        <%= render "devise/users/shared/links" %>
    </div>
  </div>
</div>
