<div class = "container about">
	<div class = "row center">



<div class = "row">
	<div class = "col xl6 l6 m12 s12 about-content">
		<h4>個展を開く</h4>
		<h6>-自分だけのギャラリー-</h6>
		<p>一人ひとつ、自分だけのギャラリーを開設します。</p>
		<p>ギャラリーができたら早速個展を開きましょう。</p>
		<p>絵、写真、上手くできた料理、テーマに決まりはありません。</p>
		<p>あなただけの小さな世界を作りましょう。</p>
		<p>個展は同時にいくつも開くことができます。</p>
		<p>これもオンラインギャラリーならではの魅力です。</p>
		<%= image_tag 'works.png', :size=>"300x260" %>
	</div>

	<div class = "col xl6 l6 m12 s12 about-content">
		<h4>個展を巡る</h4>
		<h6>-街を巡るように-</h6>
		<p>toiroが目指したのは、出会いや発見が自然発生する、街のような場所。</p>
		<p>画家と写真家が出会ったら、そこに料理人が加わったら...</p>
		<p>そんなクリエイティブな出会いがtoiroにはあります。</p>
		<p>個展を巡る機能では、開催中の個展をランダムに巡ることができます。</p>
		<p>旅に出かけましょう</p>
		<%= image_tag 'door.png', :size=>"260x260" %>
	</div>
</div>
<div class = "row">
		<h6>いつでもどこでも、手のひらに個展を</h6>
			<p>toiroはスマートフォンにも対応しています。</p>
			<p>パソコンはもちろん、スマホからでも開催、閲覧が可能です。</p>
		<%= image_tag 'phone.png', :size=>"450x210" %>
</div>
<div class = "row">
	<div class = "col xl6 l6 m12 s12 about-content">
		<h4>つながる</h4>
		<h6>-サービスを越えた繋がり-</h6>
		<p>toiroにはお気に入りのクリエイターをフォローする機能の他に</p>
		<p>名刺をダウンロードできる、名刺交換の機能があります。</p>
		<p>toiroでの出会いは、ここで完結することなく、続いていきます。</p>
		<%= image_tag 'namecard.png', :size=>"300x210" %>
	</div>
	<div class = "col xl6 l6 m12 s12 about-content">
		<h4>贈る</h4>
		<h6>-言葉と花を贈る-</h6>
		<p>toiroにはコメントやいいねの数を表示していません。</p>
		<p>その代わりに感想ノートとお花を用意しています。</p>
		<p></p>
		<p>お気に入りの個展に、言葉と花を送りましょう。</p>
		<%= image_tag 'flower-note.png', :size=>"300x200" %>

	</div>
</div>


















	</div>
</div>

