<!DOCTYPE html>
<html>
  <head>
    <title>Toiro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダー -->
    <div class ="header">
      <%= link_to "Logout" , destroy_user_session_path , method: :delete %>
      <%= link_to "Login" , new_user_session_path %>
      <%= link_to "個展一覧" , users_exhibitions_path %>
      <%= link_to "開催する" , new_users_exhibition_path %>
    </div>
    <!-- ヘッダー -->
    <%= yield %>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
  </body>
</html>
