<!DOCTYPE html>
<html>
  <head>
    <title>Toiro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
 
  </head>

  <body>
    <!-- ヘッダー -->
      <div class="container header center">
      <% if user_signed_in? %>
        <%= link_to users_notifications_path, :data => {:target=>"slide-out"},:class=>"sidenav-trigger" do %>
          <i class="material-icons Medium">notifications</i>
          <%= render 'users/notifications/index' %>
        <% end %>
        <%= link_to new_users_exhibition_path do%>
          <%= image_tag 'open.svg' , :size=>"100x50", :class => "style_image"%>
        <% end %>

        <a class="modal-trigger" href="#modal2"><%= image_tag 'watch.svg' , :size=>"100x50"%></a>
        <div id="modal2" class="modal">
          <div class="modal-content container center">
              <%= link_to users_exhibitions_path do %>
                <%= image_tag 'exhibition.svg' , :size=>"80x50"%>
              <% end %>
              <%= link_to users_galleries_path do %>
                <%= image_tag 'gallery.svg' , :size=>"100x50"%>
              <% end %>
              <%= link_to users_users_path do %>
                <%= image_tag 'creator.svg' , :size=>"100x50"%>
              <% end %>
          </div>
        </div>

        <%= link_to users_user_path(current_user) do %>
          <%= image_tag 'mypage.svg' , :size=>"100x50", :class => "style_image"%>
        <% end %>
        <%= link_to destroy_user_session_path , method: :delete do %>
          <%= image_tag 'logout.svg' , :size=>"100x50", :class => "style_image"%>
        <% end %>
      <% elsif admin_signed_in? %>
        <%= link_to "管理者ログアウト" , destroy_admin_session_path, method: :delete%>
        <%= link_to "会員一覧" , admins_users_path%>
      <% else %>
        <%= link_to "Login" , new_user_session_path%>
        <%= link_to "個展一覧" , users_exhibitions_path%>
        <%= link_to "管理者ログイン" , new_admin_session_path%>
      <% end %>
    </div>

    <!-- ヘッダー -->
    <%= yield %>











<script>
$(function(){
$('select').formSelect();
});
</script>
  </body>
</html>



<!-- 通知サイドバー -->

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var options = {};
    var instances = M.Sidenav.init(elems, options);
  });

 $(function(){
    $('.sidenav').sidenav();
  });
</script>
<!-- 通知サイドバー -->
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var options = {};
    var instances = M.Modal.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.modal').modal();
  });
</script>


